body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-weight: bold;
  font-size: 23.25px;
  margin-top: -45px;

}

h1 {
  font-weight: bolder;
  font-size: 70px;
  margin-top: 280px !important;
}

.text-gradient {
  text-align: center;

  background: -webkit-linear-gradient(#c7ced8, #9faab7);
  background: linear-gradient(#c7ced8, #9faab7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

